@using Microsoft.JSInterop;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using System.Text;
@using PanoramicData.ECharts;
@using PanoramicData.ECharts.Internal;

@namespace PanoramicData.ECharts

@inherits EChartBase

<div id="@Id" class="@CssClass" style="@Style"></div>

@code {

	private bool _chartInitialized = false;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		// Skip if chart is already initialized
		if (_chartInitialized)
			return;

		if (Options == null)
			throw new ArgumentException("Options property must be set");

		// init the serializer options if required
		jsonOpts ??= CreateSerializerOptions();

		// register the chart in a group if available
		Group?.Add(this);

		// options passed to echarts.init
		var initOptions = JsonSerializer.Serialize(new
		{
			renderer = Renderer.ToJsParam(),
			width = Width,
			height = Height
		});

		try
		{
#if DEBUG
			// enable console.log in debug mode
			await JSRuntime.InvokeVoidAsync("panoramicDataECharts.changeLogging", true);
#endif

			if (DataLoader.HasDelegate)
			{
				// init the chart without any data
				await JSRuntime.InvokeVoidAsync("panoramicDataECharts.initChart", Id, Theme, initOptions, null /*chartOpts*/, null /*mapOpts*/, null /*fetchOptions*/);

				// retrieve the data
				if (DataLoader.HasDelegate)
				{
					await DataLoader.InvokeAsync();
				}

				// serialize all required data
				(var chartOpts, var mapOpts, var fetchOpts) = Serialize(serializeMapOpts: true);

				// update the chart
				await JSRuntime.InvokeVoidAsync("panoramicDataECharts.updateChart", Id, chartOpts, mapOpts, fetchOpts);
			}
			else
			{
				// serialize all required data
				(var chartOpts, var mapOpts, var fetchOpts) = Serialize(serializeMapOpts: true);

				//TODO: also pass DotNetObjectReference.Create(this) ?
				await JSRuntime.InvokeVoidAsync("panoramicDataECharts.initChart", Id, Theme, initOptions, chartOpts, mapOpts, fetchOpts);
			}

			// Mark as initialized only if we successfully completed initialization
			_chartInitialized = true;
		}
		catch (JSException)
		{
			// JavaScript not available yet (prerendering in Blazor Server)
			// The component will render again after the SignalR connection is established
			// and JavaScript will be available at that time. Don't set _chartInitialized
			// so we can try again on the next render.
		}
	}

	public override async Task UpdateAsync(bool executeDataLoader = true)
	{
		if (executeDataLoader && DataLoader.HasDelegate)
		{
			await DataLoader.InvokeAsync();
		}

		// serialize all required data
		(var chartOpts, var mapOpts, var fetchOpts) = Serialize(serializeMapOpts: false);

		await JSRuntime.InvokeVoidAsync("panoramicDataECharts.updateChart", Id, chartOpts, mapOpts, fetchOpts);
	}
}
